name: Clang-Format
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" # 3 AM CET
  push:
  pull_request:
jobs:
  Clang-Format:
    uses: steinwurf/clang-format-action/.github/workflows/action.yml@2.0.0
