name: MacOS C++ make-specs
on:
  workflow_dispatch:
    inputs:
      extra_resolve_options:
        description: "Extra Resolve Options"
        required: false
  schedule:
    - cron: "0 1 * * *" # 3 AM CET
  push:
  pull_request:
jobs:
  MacOS-mkspecs:
    uses: steinwurf/macos-mkspecs-action/.github/workflows/action.yml@6.0.0
    with:
      extra_resolve_options: ${{ github.events.inputs.extra_resolve_options }}
      test_command: python3 waf --run_tests --run_cmd="%s --no_fail"
