name: MacOS Cmake
on:
  workflow_dispatch:
    inputs:
      extra_resolve_options:
        description: "Extra Resolve Options"
        required: false
  schedule:
    - cron: "0 1 * * *" # 3 AM CET
  push:
  pull_request:
env:
  EXTRA_RESOLVE_OPTIONS: ${{ github.event.inputs.extra_resolve_options }}
jobs:
  MacOS-cmake:
    name: MacOS Cmake
    uses: steinwurf/macos-cmake-action/.github/workflows/action.yml@6.0.0
    with:
      extra_resolve_options: $EXTRA_RESOLVE_OPTIONS

# Cancel previous in-progress when pushing: https://stackoverflow.com/a/72408109
concurrency:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
