name: No Assertions
'on':
  workflow_dispatch:
    inputs:
      extra_resolve_options:
        description: Extra Resolve Options
        required: false
  schedule:
  - cron: 0 1 * * *
  push:
    branches:
    - master
  pull_request:
jobs:
  ndebug:
    name: No Assertions
    uses: steinwurf/nodebug-action/.github/workflows/action.yml@8.0.0
    with:
      extra_resolve_options: ${{ github.events.inputs.extra_resolve_options }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
